.firstCol {
	background-color: blue;
}
.secondCol {
	background-color: red;
}
.thirdCol {
	background-color: green;
	height: 100px;
}
.fourthCol {
	background-color: yellow;
	height: 100px;
}
.fifthCol {
	background-color: purple;
	height: 100px;
}
.sixthCol {
	background-color: black;
	height: 100px;
}