.picHeader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 20%;
}

.sectionHead {
	font-family: Helvetica;
	font-size: 3.5em;
	margin-left: 76px;
}

h3 {
	font-family: Helvetica;
	font-weight: 200;
}

.linkList {
	display: block;
	margin: auto;
}

.link {
	/*display: block;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 20%;
	border-radius: 3px;
	color: #f15f5d;
	border: 1px solid #f15f5d;
	font-family: 'Helvetica';
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 700;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	font-family: Helvetica;
	border: 1px solid #f15f5d;
	text-align: center;
	color: #f15f5d;
	width: 20%;
	text-decoration: none;
	font-weight: 700;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 3px;

}

/*.button:hover {
	background-color: #f15f5d;
	color: white;
}*/

.projectContent {
	display: inline-block;
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 7px;
}

.para {
	font-style: bold;
	margin-left: 2%;
	margin-top: 1%;
}

.content {
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
	background-color: #eef;
	font-family: Helvetica;
	font-weight: 200;
	color: black;
	font-size: 14px;
}



