.homeImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 20%;
}

.movieQuote {
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	padding: 20px 10px 20px 10px;
	margin-bottom: 20px;
	background-color: #eef;
	font-family: Helvetica;
	font-weight: 200;
	color: black;
	font-size: 16px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.quoteHeader {
	font-family: Pacifico;
	font-weight: 200;
	margin-bottom: 20px;
	text-align: center;
}

.link {
	display: block;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 20%;
	border-radius: 3px;
	color: #f15f5d;
	border: 1px solid #f15f5d;
	font-family: 'Helvetica';
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.button:hover {
	background-color: #f15f5d;
	color: white;
}

.projectContent {
	display: inline-block;
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 7px;
}

.para {
	font-style: bold;
	margin-left: 2%;
	margin-top: 1%;
}

.content {
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
	background-color: #eef;
	font-family: Helvetica;
	font-weight: 200;
	color: black;
	font-size: 14px;
}



